* {
  margin: 0 auto;
  padding: 0;
}
body {
  background: #f8ffee;
}

.container {
  width: 1440px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "gooddog";
  src: url(fonts/gooddog.ttf);
}

/* main_screen */

.up_arrow {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 45px;
  bottom: 45px;
  border-radius: 70px;
  border: 1px solid var(--text-color-1, #2d2d2d);
  background: var(
    --gradient-1,
    radial-gradient(
      115.09% 63.04% at 37.83% 23.13%,
      rgba(158, 255, 0, 0.6) 0%,
      rgba(255, 229, 0, 0.6) 63.05%
    ),
    linear-gradient(306deg, #00ff38 0%, #fff500 100%)
  );
  box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  z-index: 100;
}

.topNubex {
  font-family: Open Sans;
  color: #2d2d2d;
  font-weight: 600;
}
.main_screen {
  height: 1080px;
  background-image: url(img/main-BG.png);
  background-repeat: no-repeat;
}

.nav_menu {
  display: flex;
  height: 140px;
  align-items: center;
  list-style-type: none;
}

.nav_link {
  color: #fff;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 500;
  padding-left: 50px;
}

.top_content {
  display: flex;
}

.top_left_content {
  padding-top: 222px;
}

.big-text {
  width: 632px;
  color: #fff;
  font-size: 28px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
}

.small-text {
  color: #fff;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 500;
  padding-top: 28px;
}

.top_button,
.btn {
  margin-top: 42px;
  color: #2d2d2d;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 700;
  display: inline-flex;
  padding: 20px 60px;
  gap: 10px;
  border-radius: 70px;
  background: var(
    --gradient-1,
    radial-gradient(
      115.09% 63.04% at 37.83% 23.13%,
      rgba(158, 255, 0, 0.6) 0%,
      rgba(255, 229, 0, 0.6) 63.05%
    ),
    linear-gradient(306deg, #00ff38 0%, #fff500 100%)
  );

  /* Shadow 1 */
  box-shadow: 0px 20px 40px 0px rgba(255, 245, 11, 0.7);
}

.logo {
  padding-top: 480px;
}

/* description */

.description {
  padding-top: 46px;
}
.desc_top_content {
  display: flex;
  flex-direction: column;
}

.desc_h2 {
  color: #2d2d2d;
  font-size: 48px;
  font-family: GoodDog;
  font-weight: 400;
  padding-left: 80px;
}

.desc_top_text {
  padding-top: 46px;
  width: 743px;
  color: #000;
  text-align: center;
  /* Main text */
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
}

.desc_house img {
  padding-top: 40px;
}

.desc_btn {
  margin-top: 110px;
}

.desc_text_block {
  padding-left: 84px;
  padding-top: 110px;
}
.desc_text1,
.desc_text2 {
  width: 1115px;
  color: #2d2d2d;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 200%;
}

.desc_text2 {
  padding-top: 40px;
}

.wave_line {
  width: 100%;
}

/* advantages */

.advantages {
  padding-top: 90px;
}

.advantages_content {
  display: flex;
  padding-top: 110px;
  padding-left: 74px;
}
.advantages-h2 {
  padding-left: 1012px;
  color: #2d2d2d;
  font-size: 48px;
  font-family: GoodDog;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.left_card {
  display: flex;
  width: 718px;
  padding-bottom: 36px;
  display: flex;
}

.card-content {
  display: flex;
  width: 520px;
  padding: 20px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2d2d2d;
  background: #e5fb65;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    7px 9px 24px 0px rgba(0, 0, 0, 0.1), 28px 34px 44px 0px rgba(0, 0, 0, 0.09),
    64px 77px 60px 0px rgba(0, 0, 0, 0.05),
    113px 137px 71px 0px rgba(0, 0, 0, 0.01),
    177px 214px 78px 0px rgba(0, 0, 0, 0);
}

.card-content h3 {
  color: #2d2d2d;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 800;
}

.card-content p {
  width: 460px;
  text-align: center;
  height: 50px;
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card5-adv {
  padding-bottom: 20px;
}
.advantages_right {
  display: flex;
  flex-direction: column;
}
.right_card {
  margin-bottom: 20px;
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 800;
  display: flex;
  width: 405px;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2d2d2d;
  background: #fdffa4;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    6px 6px 19px 0px rgba(0, 0, 0, 0.1), 25px 24px 35px 0px rgba(0, 0, 0, 0.09),
    57px 54px 47px 0px rgba(0, 0, 0, 0.05),
    101px 96px 56px 0px rgba(0, 0, 0, 0.01),
    158px 151px 61px 0px rgba(0, 0, 0, 0);
}

.card1 {
  margin-top: 28px;
}
.card5 {
  margin-bottom: 216px;
}

/* Slider */

.examples_slider {
  height: 1138px;
  background-image: url(img/BG\ slider.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.slider-h2 h2 {
  color: #fff;
  font-size: 48px;
  font-family: GoodDog;
  font-weight: 400;
  padding-top: 85px;
  padding-left: 1090px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.slider_btn-left,
.slider_btn-right {
  display: flex;
  padding: 20px 25px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  background: var(
    --gradient-2,
    linear-gradient(180deg, #86fd29 0%, #fff502 100%)
  );

  /* Shadow 1 */
  box-shadow: 0px 20px 40px 0px rgba(255, 245, 11, 0.7);
}

.slider_btn-left {
  margin-right: 70px;
}

.slider_btn-right {
  margin-left: 70px;
}

.slider_photo {
  margin-left: 0;
  margin-right: 0;
}

/* Colors */

.colors {
  margin-top: 21px;
}

.colors-h2 {
  color: #2d2d2d;
  font-size: 48px;
  font-family: GoodDog;
  font-weight: 400;
  padding-left: 1001px;
}

.colors_slider {
  margin-top: 110px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}

.colors-left,
.colors-right {
  display: flex;
  padding: 20px 25px;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: var(
    --gradient-2,
    linear-gradient(180deg, #86fd29 0%, #fff502 100%)
  );
  box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.25);
}

.colors_content {
  width: 771px;
  color: #2d2d2d;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 200%;
  margin-left: 560px;
}

.colors-wave {
  width: 100%;
  margin-top: 19px;
}

/* Process */

.process {
  margin-top: 15px;
}

.process-h2 {
  padding-left: 80px;
  color: #2d2d2d;
  font-family: GoodDog;
  font-size: 48px;
  font-weight: 400;
}

.process_cardbox {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.process_card {
  position: relative;
  display: inline-flex;
  padding: 30px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--text-color-1, #2d2d2d);
  background: #fdffa4;
  box-shadow: 0px 0px 0px 0px rgba(50, 85, 0, 0.1),
    4px 5px 13px 0px rgba(50, 85, 0, 0.1),
    16px 18px 24px 0px rgba(50, 85, 0, 0.09),
    36px 41px 33px 0px rgba(50, 85, 0, 0.05),
    63px 74px 39px 0px rgba(50, 85, 0, 0.01),
    99px 115px 42px 0px rgba(50, 85, 0, 0);
}

.number {
  position: absolute;
  color: var(--text-color, #2d2d2d);
  font-size: 96px;
  font-family: GoodDog;
  font-weight: 400;
  left: 12px;
  top: -68px;
}

.process-text {
  width: 265px;
  text-align: center;
  color: #2d2d2d;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
}

.process_card h3 {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
}
.card-1 {
  margin-left: 80px;
}

.line1 {
  margin-left: 442px;
}

.card-2 {
  margin-left: 491px;
}

.line2 {
  margin-left: 853px;
}

.card-3 {
  margin-left: 902px;
}

.line3 {
  margin-left: 853px;
}

.card-4 {
  margin-left: 491px;
}

.line4 {
  margin-left: 443px;
}

.card-5 {
  margin-left: 80px;
}

.process_content1,
.process_content2 {
  width: 1152px;
  margin-left: 80px;
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 200%;
}

.process_content1 {
  padding-top: 110px;
}

.process_content2 {
  font-weight: 700;
  padding-top: 40px;
}

/* Payment */

.payment {
  height: 1052px;
  background-image: url(img/payment-BG.png);
  background-repeat: no-repeat;
  margin-top: 110px;
}

.payment-h2 {
  padding-top: 209px;
  padding-left: 80px;
  color: #fff;
  font-family: GoodDog;
  font-size: 48px;
  font-weight: 400;
}

.payment_text {
  width: 763px;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  padding-top: 170px;
}

/* Target */

.target-h2 {
  padding-left: 80px;
  color: #2d2d2d;
  font-family: GoodDog;
  font-size: 48px;
  font-weight: 400;
}
.target_cardbox {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
}
.target_card {
  width: 444px;
  position: relative;
}

.target_card-BG1 {
  position: absolute;
  z-index: -1;
  left: -80px;
  top: 207px;
}
.target_card-BG2 {
  position: absolute;
  z-index: -1;
  top: 288px;
}

.target_card-BG3 {
  position: absolute;
  z-index: -1;
  top: 142px;
}

.target_card-content {
  padding-top: 17px;
  width: 420px;
}

.target_card-img1 img {
  height: 520px;
  }

.target_card-img3 img {
height: 575px;
}

.target-h4 {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
}
.target_card-text {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  padding-top: 42px;
}

.target_wave-line {
  width: 100%;
  margin-top: 104px;
}

/* About_us */
.about_us {
  height: 760px;
}

.about_us-h2 {
  color: #2d2d2d;
  font-family: GoodDog;
  font-size: 48px;
  font-weight: 400;
  margin-top: 46px;
  padding-left: 1104px;
}

.about_us_content-box {
  display: flex;
  margin-top: 110px;
}

.about_us_content {
  width: 649px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-txt-margin {
  padding-bottom: 40px;
}

.about_text1 {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
}

.about_text2 {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  margin: 0;
}

.about_text3 {
  width: 543px;
  color: #000;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  margin: 0;
}

.about_text4 {
  color: #2d2d2d;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  margin: 0;
}
/* Footer */

.footer {
  height: 604px;
  position: relative;
}

.footer-BG img {
bottom: 0;
position: absolute;
width: 100%;
}